- @tasks.each do |task|
  .content
    .content__left
      .content__left--image
    .content__right
      .content__right__top
        = task.title
      .content__right__bottom
        .content__right__bottom--date
          = task.created_at
